<div class="container content_main justify-content-around d-flex flex-column jus">
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("fk.svg", :alt => "logo", :width => "400") %>
            <div class="text_after_logo text-center">Avec Facebook, partagez et restez en contact avec votre entourage.</div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <%= form_with(model: @user, scope: :session, local: true,url: create_session_path, class: "form") do |form| %>

                <div class="field my-3">
                    <%= form.text_field :email, placeholder: "Adresse email" %>
                </div>

                <div class="field my-3">
                    <%= form.password_field :password, placeholder: "Mot de passe" %>
                </div>

                <div class="actions my-3">
                    <%= form.submit "Se connecter", class: "btn btn-primary" %>
                </div>
                <hr>
                <%= link_to "Créer un compte", new_user_path, class: "btn btn-primary text-white my-3 yet_a_compte" %>
            <% end %>
            <div>Créer une Page pour une célébrité, un groupe ou une entreprise.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Français (France) English (US) العربية Español Deutsch עברית Italiano Português (Brasil) हिन्दी 中文(简体) 日本語
        </div>
        <div class="col-12">
            <hr>
            S’inscrire  Se connecter Messenger Facebook Lite Watch Lieux Jeux MarketplaceFacebook PayOffres d’emploi Oculus Portal Instagram Local Collectes de fonds Services Centre d’information sur les élections À propos Créer une publicité Créer une Page Développeurs Emplois Confidentialité Cookies Choisir sa pub Conditions généralesAide Paramètres Historique personnel
        </div>
        <div class="col-12 my-3">Facebook © 2021</div>
    </div>
</div>