<div class="card my-5">
  <h1 class="card-header"><%= @post.user.name %></h1>
  <div class="card-body">
    <h5 class=""><%= @post.title %></h5>
    <div class="my-3"><%= @post.content %></div>
    <div class=""><%=  image_tag(@post.photo.url, :width => "500")  if @post.photo  &&  @post.photo.url %></div>
  </div>
  <div class="card-footer d-flex <% if @post.user_id == current_user.id %> justify-content-around <% end %>">
    <div><%= link_to 'Back', posts_path, class: "btn btn-primary text-white" %></div>
    <% if @post.user_id == current_user.id %>
      <div><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary text-white"  %></div>
      <div><%= link_to 'Destroy', @post, class: "btn btn-primary text-white", method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  </div>
</div>
