<!DOCTYPE html>
<html>
  <head>
    <title>CloneFk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <div class="row d-flex justify-content-center">
    <% flash.each do |key, value|%>
      <%= content_tag(:div, value, class: "#{key} alert alert-danger col-6 mt-3 position-fixed") %>
    <% end%>
    </div>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
